---
---
@import "{{ site.theme }}";


img {
  width: 100%;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0 15px;
}

#home_link {
  display: block;
  float: left;
  width: 80px;
  height:50px;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: linear-gradient(steelblue, gray);
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#unv_link {
  display: block;
  float: left;
  width: 90px;
  height:50px;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: linear-gradient(steelblue, gray);
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#kilavuz_link {
  display: block;
  float: left;
  width: 80px;
  height:50px;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: linear-gradient(steelblue, gray);
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#video_link {
  display: block;
  float: left;
  width: 80px;
  height:50px;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: linear-gradient(steelblue, gray);
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#ilt_link {
  display: block;
  float: left;
  width: 80px;
  height:50px;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: linear-gradient(steelblue, gray);
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#abt_link {
  display: block;
  float: left;
  width: 80px;
  height:50px;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: linear-gradient(steelblue, gray);
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#project_title {
  text-align: center;
}
p.copyright {
  text-align: center;
}

table.unv {
  table-layout: fixed;
}

table.unv th {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width: 25%;
}
table a {
  color: white;
}
.logo {
  width: 600px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }