---
---
@import "{{ site.theme }}";


img {
  width: 100%;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0 15px;
}

menu {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}
